In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import chardet

In [51]:
df = pd.read_csv('tennis_atp-master/atp_matches_2023.csv')

In [52]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2023-9900,United Cup,Hard,18,A,20230102,300,126203,3.0,NaN,...,62.0,47.0,15.0,12.0,9.0,9.0,9.0,3355.0,16.0,2375.0
1,2023-9900,United Cup,Hard,18,A,20230102,299,126207,NaN,NaN,...,12.0,8.0,3.0,4.0,1.0,3.0,19.0,2000.0,23.0,1865.0
2,2023-9900,United Cup,Hard,18,A,20230102,296,126203,3.0,NaN,...,62.0,51.0,7.0,12.0,2.0,2.0,9.0,3355.0,10.0,2905.0
3,2023-9900,United Cup,Hard,18,A,20230102,295,126207,NaN,NaN,...,41.0,26.0,12.0,9.0,6.0,9.0,19.0,2000.0,245.0,220.0
4,2023-9900,United Cup,Hard,18,A,20230102,292,126774,1.0,NaN,...,58.0,48.0,18.0,16.0,1.0,2.0,4.0,5550.0,16.0,2375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,2023-M-DC-2023-WG2-PO-RSA-LUX-01,Davis Cup WG2 PO: RSA vs LUX,NaN,4,D,20230204,5,202335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.0,1.0
2982,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,1,117365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,990.0,11.0,279.0,190.0
2983,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,2,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,894.0,15.0
2984,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,4,144949,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,894.0,15.0,285.0,184.0
2985,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,5,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,990.0,11.0

In [53]:
pbp = pd.read_csv('tennis_slam_pointbypoint-master/2023-wimbledon-points.csv')

In [54]:
pbp['match_id'].unique()

array(['2023-wimbledon-1101', '2023-wimbledon-1102',
       '2023-wimbledon-1103', '2023-wimbledon-1104',
       '2023-wimbledon-1105', '2023-wimbledon-1106',
       '2023-wimbledon-1107', '2023-wimbledon-1108',
       '2023-wimbledon-1109', '2023-wimbledon-1110',
       '2023-wimbledon-1111', '2023-wimbledon-1112',
       '2023-wimbledon-1113', '2023-wimbledon-1114',
       '2023-wimbledon-1115', '2023-wimbledon-1116',
       '2023-wimbledon-1117', '2023-wimbledon-1118',
       '2023-wimbledon-1119', '2023-wimbledon-1120',
       '2023-wimbledon-1121', '2023-wimbledon-1122',
       '2023-wimbledon-1123', '2023-wimbledon-1124',
       '2023-wimbledon-1125', '2023-wimbledon-1126',
       '2023-wimbledon-1127', '2023-wimbledon-1128',
       '2023-wimbledon-1129', '2023-wimbledon-1130',
       '2023-wimbledon-1131', '2023-wimbledon-1132',
       '2023-wimbledon-1133', '2023-wimbledon-1134',
       '2023-wimbledon-1135', '2023-wimbledon-1136',
       '2023-wimbledon-1137', '2023-wimbledon-1138',
       '2023-wimbledon-1139', '2023-wimbledon-1140',
       '2023-wimbledon-1141', '2023-wimbledon-1142',
       '2023-wimbledon-1143', '2023-wimbledon-1144',
       '2023-wimbledon-1145', '2023-wimbledon-1146',
       '2023-wimbledon-1147', '2023-wimbledon-1148',
       '2023-wimbledon-1149', '2023-wimbledon-1150',
       '2023-wimbledon-1151', '2023-wimbledon-1152',
       '2023-wimbledon-1153', '2023-wimbledon-1154',
       '2023-wimbledon-1155', '2023-wimbledon-1156',
       '2023-wimbledon-1157', '2023-wimbledon-1158',
       '2023-wimbledon-1159', '2023-wimbledon-1160',
       '2023-wimbledon-1161', '2023-wimbledon-1162',
       '2023-wimbledon-1163', '2023-wimbledon-1164',
       '2023-wimbledon-1201', '2023-wimbledon-1202',
       '2023-wimbledon-1203', '2023-wimbledon-1204',
       '2023-wimbledon-1205', '2023-wimbledon-1206',
       '2023-wimbledon-1207', '2023-wimbledon-1208',
       '2023-wimbledon-1209', '2023-wimbledon-1210',
       '2023-wimbledon-1211', '2023-wimbledon-1212',
       '2023-wimbledon-1213', '2023-wimbledon-1214',
       '2023-wimbledon-1215', '2023-wimbledon-1216',
       '2023-wimbledon-1217', '2023-wimbledon-1218',
       '2023-wimbledon-1219', '2023-wimbledon-1220',
       '2023-wimbledon-1221', '2023-wimbledon-1222',
       '2023-wimbledon-1223', '2023-wimbledon-1224',
       '2023-wimbledon-1225', '2023-wimbledon-1226',
       '2023-wimbledon-1227', '2023-wimbledon-1228',
       '2023-wimbledon-1229', '2023-wimbledon-1230',
       '2023-wimbledon-1231', '2023-wimbledon-1232',
       '2023-wimbledon-1301', '2023-wimbledon-1302',
       '2023-wimbledon-1303', '2023-wimbledon-1304',
       '2023-wimbledon-1305', '2023-wimbledon-1306',
       '2023-wimbledon-1307', '2023-wimbledon-1308',
       '2023-wimbledon-1309', '2023-wimbledon-1310',
       '2023-wimbledon-1311', '2023-wimbledon-1312',
       '2023-wimbledon-1313', '2023-wimbledon-1314',
       '2023-wimbledon-1315', '2023-wimbledon-1316',
       '2023-wimbledon-1401', '2023-wimbledon-1402',
       '2023-wimbledon-1403', '2023-wimbledon-1404',
       '2023-wimbledon-1405', '2023-wimbledon-1406',
       '2023-wimbledon-1407', '2023-wimbledon-1408',
       '2023-wimbledon-1501', '2023-wimbledon-1502',
       '2023-wimbledon-1503', '2023-wimbledon-1504',
       '2023-wimbledon-1601', '2023-wimbledon-1602',
       '2023-wimbledon-1701', '2023-wimbledon-2101',
       '2023-wimbledon-2102', '2023-wimbledon-2103',
       '2023-wimbledon-2104', '2023-wimbledon-2105',
       '2023-wimbledon-2106', '2023-wimbledon-2107',
       '2023-wimbledon-2108', '2023-wimbledon-2109',
       '2023-wimbledon-2110', '2023-wimbledon-2111',
       '2023-wimbledon-2112', '2023-wimbledon-2113',
       '2023-wimbledon-2114', '2023-wimbledon-2115',
       '2023-wimbledon-2116', '2023-wimbledon-2117',
       '2023-wimbledon-2118', '2023-wimbledon-2119',
       '2023-wimbledon-2120', '2023-wimbledon-2121',
       '2023-wimbledon-2122', '2023-wimbledon-2123',
       '2023-wimbledon-2124', '2023-wimbledon-2125',
       '2023-wimbledon-2126', '2023-wimbledon-2127',
       '2023-wimbledon-2128', '2023-wimbledon-2129',
       '2023-wimbledon-2130', '2023-wimbledon-2131',
       '2023-wimbledon-2132', '2023-wimbledon-2133',
       '2023-wimbledon-2134', '2023-wimbledon-2135',
       '2023-wimbledon-2136', '2023-wimbledon-2137',
       '2023-wimbledon-2138', '2023-wimbledon-2139',
       '2023-wimbledon-2140', '2023-wimbledon-2141',
       '2023-wimbledon-2142', '2023-wimbledon-2143',
       '2023-wimbledon-2144', '2023-wimbledon-2145',
       '2023-wimbledon-2146', '2023-wimbledon-2147',
       '2023-wimbledon-2148', '2023-wimbledon-2149',
       '2023-wimbledon-2150', '2023-wimbledon-2151',
       '2023-wimbledon-2152', '2023-wimbledon-2153',
       '2023-wimbledon-2154', '2023-wimbledon-2155',
       '2023-wimbledon-2156', '2023-wimbledon-2157',
       '2023-wimbledon-2158', '2023-wimbledon-2159',
       '2023-wimbledon-2160', '2023-wimbledon-2161',
       '2023-wimbledon-2162', '2023-wimbledon-2163',
       '2023-wimbledon-2164', '2023-wimbledon-2201',
       '2023-wimbledon-2202', '2023-wimbledon-2203',
       '2023-wimbledon-2204', '2023-wimbledon-2205',
       '2023-wimbledon-2206', '2023-wimbledon-2207',
       '2023-wimbledon-2208', '2023-wimbledon-2209',
       '2023-wimbledon-2210', '2023-wimbledon-2211',
       '2023-wimbledon-2212', '2023-wimbledon-2213',
       '2023-wimbledon-2214', '2023-wimbledon-2215',
       '2023-wimbledon-2216', '2023-wimbledon-2217',
       '2023-wimbledon-2218', '2023-wimbledon-2219',
       '2023-wimbledon-2220', '2023-wimbledon-2221',
       '2023-wimbledon-2222', '2023-wimbledon-2223',
       '2023-wimbledon-2224', '2023-wimbledon-2225',
       '2023-wimbledon-2226', '2023-wimbledon-2227',
       '2023-wimbledon-2228', '2023-wimbledon-2229',
       '2023-wimbledon-2230', '2023-wimbledon-2231',
       '2023-wimbledon-2232', '2023-wimbledon-2301',
       '2023-wimbledon-2302', '2023-wimbledon-2303',
       '2023-wimbledon-2304', '2023-wimbledon-2305',
       '2023-wimbledon-2306', '2023-wimbledon-2307',
       '2023-wimbledon-2308', '2023-wimbledon-2309',
       '2023-wimbledon-2310', '2023-wimbledon-2311',
       '2023-wimbledon-2312', '2023-wimbledon-2313',
       '2023-wimbledon-2314', '2023-wimbledon-2315',
       '2023-wimbledon-2316', '2023-wimbledon-2401',
       '2023-wimbledon-2402', '2023-wimbledon-2403',
       '2023-wimbledon-2404', '2023-wimbledon-2405',
       '2023-wimbledon-2406', '2023-wimbledon-2407',
       '2023-wimbledon-2408', '2023-wimbledon-2501',
       '2023-wimbledon-2502', '2023-wimbledon-2503',
       '2023-wimbledon-2504', '2023-wimbledon-2601',
       '2023-wimbledon-2602', '2023-wimbledon-2701'], dtype=object)

In [55]:
charting = pd.read_csv('tennis_MatchChartingProject-master/charting-m-points-2020s.csv', encoding= 'latin1', low_memory=False)

In [56]:
charting

,match_id,Pt,Set1,Set2,Gm1,Gm2,Pts,Gm#,TbSet,TB?,...,2ndIn,isAce,isUnret,isRallyWinner,isForced,isUnforced,isDouble,PtWinner,isSvrWinner,rallyCount
0,20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton,1,0,0,0,0,0-0,1 (1),1,0,...,NaN,False,False,False,True,False,False,1,1,1
1,20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton,2,0,0,0,0,15-0,1 (2),1,0,...,1.0,False,False,True,False,False,False,2,0,8
2,20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton,3,0,0,0,0,15-15,1 (3),1,0,...,1.0,False,False,True,False,False,False,2,0,4
3,20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton,4,0,0,0,0,15-30,1 (4),1,0,...,NaN,False,False,True,False,False,False,1,1,3
4,20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton,5,0,0,0,0,30-30,1 (5),1,0,...,NaN,False,False,True,False,False,False,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246625,20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander...,203,1,1,5,2,15-0,31 (2),1,0,...,1.0,False,False,False,False,True,False,1,1,11
246626,20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander...,204,1,1,5,2,30-0,31 (3),1,0,...,1.0,False,False,True,False,False,False,1,1,9
246627,20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander...,205,1,1,5,2,40-0,31 (4),1,0,...,NaN,False,False,False,False,True,False,2,0,10
246628,20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander...,206,1,1,5,2,40-15,31 (5),1,0,...,NaN,False,False,False,False,True,False,2,0,6
246629,20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander...,207,1,1,5,2,40-30,31 (6),1,0,...,NaN,False,False,False,True,False,False,1,1,11

In [57]:
charting['match_id'].unique()

array(['20230908-M-US_Open-SF-Novak_Djokovic_-Ben_Shelton',
       '20230905-M-US_Open-QF-Novak_Djokovic_-Taylor_Fritz',
       '20230831-M-US_Open-R64-Hubert_Hurkacz-Jack_Draper', ...,
       '20200103-M-ATP_Cup-RR-Steve_Darcis-Alexander_Cozbinov',
       '20200103-M-ATP_Cup-RR-Stefanos_Tsitsipas-Denis_Shapovalov',
       '20200103-M-ATP_Cup-RR-Alex_De_Minaur-Alexander_Zverev'],
      dtype=object)

In [58]:
charting['rallyCount'] = pd.to_numeric(charting['rallyCount'], errors='coerce')
charting['rallyCount'].mean()

4.145064043563409

In [59]:
#fix: charting.drop(charting.iloc[[187254]])
charting = charting.drop(charting.index[187254])

ValueError: Input data must be a pandas object to reorder